:root {
    --background: #F7F7F7;
    --accent: #2E8B57;   /* verde hoja */
    --highlight: #FFD700; /* amarillo acento */
    --title: #8B4513;    /* café */
    --text: #333333;
    --text2: #666666;
  
    --radius: 16px;
    --shadow: 0 8px 24px rgba(0,0,0,.08);
  }
  